<!-- CSS -> ESTILOS PARA A PAGINA E FONTES-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Karla&family=Fredoka+One&family=Rowdies:wght@400;700&family=Merienda:wght@600;700;800&display=swap" rel="stylesheet">

<body>

  <app-header></app-header>
    <main>
      <app-showcase></app-showcase>
        <div class="party-content">
            <img src="/front/images/content-foto.png" alt="">
        </div>



    </main>

</body>

<!-- <router-outlet></router-outlet> -->
