/* RESET */
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
input {
	all: unset;
}

element {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* RESET */

/* VARIAVEIS */
:root{
    /* paleta */
    --cream: #F5FDC6;
    --peach: #F5C396;
    --beige: #D0B17A;
    --gray-brown: #A89F68;
    --dark-green: #41521F;

	--purple: #999ac2;
	--dark-purple: #614677;

    --black: #040F0F;

	/* fontes */
	--font-title: 'Rowdies', cursive;
	--font-normal: 'Josefin Sans', sans-serif;
	--font-link: 'Karla', sans-serif;
	--font-cursive: 'Merienda', cursive;

	/* tamanhos */
	--size-small: 14px;
	--size-normal: 16px;
	--size-big: 20px;
	--size-extra-big: 50px;
	--border-button: solid 2px var(--purple);
}
/* VARIAVEIS */

/* BODY */
body{
    background-color: #F5FDC6;
}

p{
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
}



main .party-content{
	position: absolute;
	right: .5px;
	top: 636px;

}

main .party-content img{
	background-color: var(--black);
	width: 843px;

}

app-showcase{
  position: absolute;
}



/* MAIN */
